<div class="col-md-4 rel {{#is4th}}clear{{/is4th}}">
	<div class="panel
			{{#isSuccessful}}panel-success{{/isSuccessful}}
			{{#isStarted}}panel-warning{{/isStarted}}
			{{#isFailed}}panel-danger{{/isFailed}}
		">
		<div class="panel-heading">
			<h4 class="panel-title">
				<span>{{name}}</span>
				<span
						class="action pull-right m-l-1 text-muted"
						onclick="onDeleteStage('{{repo}}','{{pipeline}}','{{name}}');">
					delete
				</span>
				<span
						class="action pull-right m-l-1 text-muted"
						onclick="onUpdateStage('{{repo}}','{{pipeline}}','{{name}}');">
					update
				</span>
			</h4>
		</div>
		<div class="panel-body">
			{{#lastFive}}{{> build}}{{/lastFive}}
		</div>
	</div>
	<div
			class="
				arrow-container
				{{#isUnblocked}}green-arrow{{/isUnblocked}}
				{{#isBlocked}}red-arrow{{/isBlocked}}
			"
			onclick="toggleStageState('{{repo}}','{{pipeline}}','{{name}}');">
		<div class="arrow"></div>
		<div class="arrow shifted"></div>
	</div>
</div>
