<div class="input-group">
	<span class="input-group-addon">Repo:</span>
	<input
		type="text"
		class="form-control"
		placeholder="<user>/<repo>"
		value="{{repo}}">
</div>
<br/>
{{#isNew}}
<div class="input-group">
	<span class="input-group-addon">Repo Access Token:</span>
	<input
		type="password"
		class="form-control"
		placeholder="access token to the repo">
</div>
<br/>
{{/isNew}}
<div class="input-group">
	<span class="input-group-addon">Pipeline:</span>
	<input
		type="text"
		class="form-control"
		placeholder="name of the pipeline"
		value="{{pipeline}}">
</div>
<br/>
<div class="input-group">
	<span class="input-group-addon">Stage:</span>
	<input
		type="text"
		class="form-control"
		placeholder="name of the stage"
		value="{{name}}">
</div>
<br/>
<div>
	<label class="m-r-1" for="">Unblocked:</label>
	<input type="checkbox" {{unblockedChecked}}>
</div>
<br/>
<div>
	<label>Variables:</label>
	<br/>
	<textarea class="update-variables-textarea">{}</textarea>
</div>
<br/>
<button class="btn btn-default" onclick="updateStage()">Submit</button>
