<div class="input-group">
	<span class="input-group-addon">Repo:</span>
	<input
		{{^isNew}}disabled{{/isNew}}
		id="repoInput"
		type="text"
		class="form-control"
		placeholder="<user>/<repo>"
		value="{{repo}}">
</div>
<br/>
{{#isNew}}
<div class="input-group">
	<span class="input-group-addon">Repo Access Token:</span>
	<input
		id="repoAccessTokenInput"
		type="password"
		class="form-control"
		placeholder="access token to the repo">
</div>
<br/>
{{/isNew}}
<div class="input-group">
	<span class="input-group-addon">Pipeline:</span>
	<input
		{{^isNew}}disabled{{/isNew}}
		id="pipelineNameInput"
		type="text"
		class="form-control"
		placeholder="name of the pipeline"
		value="{{pipeline}}">
</div>
<br/>
<div class="input-group">
	<span class="input-group-addon">Stage:</span>
	<input
		{{^isNew}}disabled{{/isNew}}
		id="stageNameInput"
		type="text"
		class="form-control"
		placeholder="name of the stage"
		value="{{name}}">
</div>
<br/>
<div class="input-group">
	<span class="input-group-addon">
		Branch (applied to the whole pipeline):
	</span>
	<input
		id="branchInput"
		type="text"
		class="form-control"
		placeholder="branch of this pipeline"
		value="{{branch}}">
</div>
<br/>
<div class="input-group">
	<span class="input-group-addon">Order:</span>
	<input
		id="orderInput"
		type="number"
		class="form-control"
		value="{{order}}">
</div>
<br/>
<div>
	<label class="m-r-1" for="">Unblocked:</label>
	<input id="unblockedInput" type="checkbox" {{unblockedChecked}}>
</div>
<br/>
<div>
	<label class="m-r-1" for="">Executor:</label>
	<select id="executorInput">
		{{#EXECUTORS}}
		<option value="{{value}}" {{selectedExecutor}}>{{label}}</option>
		{{/EXECUTORS}}
	</select>
</div>
<br/>
<div>
	<label>Variables:</label>
	<br/>
	<textarea
		id="varsInput"
		class="update-variables-textarea">{{varsJSON}}</textarea>
</div>
<br/>
<button class="btn btn-default" onclick="updateStage()">Submit</button>
